<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <h2 class="text-2xl font-semibold mb-6 text-gray-900 dark:text-white">Create a New Post</h2>
  <form class="space-y-6" (ngSubmit)="onSubmit()">
    <app-input-field
      placeholder="What's on your mind?"
      inputId="title"
      label="Title"
      [control]="titleControl">
    </app-input-field>
    <app-text-area-field
      placeholder="Share more details..."
      inputId="content"
      label="Content"
      [control]="contentControl"
    ></app-text-area-field>
    <app-file-upload label="Media" inputId="media" [control]="imageControl"
                     (setFile)="setImage($event)"></app-file-upload>
    @if (!urlIsEnabled) {
      <app-button
        (click)="toggleUrl()"
        type="button"
      >
        Add a URL
      </app-button>
    } @else {
      <app-input-field
        inpType="url"
        placeholder="https://example.com"
        label="URL (Optional)"
        inputId="url"
        [control]="urlControl"
      ></app-input-field>
    }
    <div>
      <app-button
        [disabled]="!form.valid"
      >
        Create Post
      </app-button>
    </div>
  </form>
</div>
