<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="grid gap-6 md:grid-cols-2">
    <app-input-field
      [control]="firstNameControl"
      label="First name"
      inputId="firstName"
      placeholder="John"
      [ERROR_MESSAGES_RECORD]="getErrorMessageRecord('firstName')"
      ></app-input-field>
    <app-input-field
      [control]="lastNameControl"
      label="Last name"
      inputId="lastName"
      placeholder="Doe"
      [ERROR_MESSAGES_RECORD]="getErrorMessageRecord('lastName')"
    ></app-input-field>
  </div>
  <app-input-field
    [control]="usernameControl"
    label="Username"
    inputId="username"
    placeholder="JohnDoe"
    [ERROR_MESSAGES_RECORD]="getErrorMessageRecord('username')"
  ></app-input-field>

  <app-input-field
    [control]="emailControl"
    label="Email Address"
    inputId="email"
    placeholder="John.doe@gmail.com"
    [ERROR_MESSAGES_RECORD]="getErrorMessageRecord('email')"
    ></app-input-field>
  <app-input-field
    [control]="passwordControl"
    label="Password"
    inputId="password"
    placeholder="•••••••••"
    inpType="password"
    [ERROR_MESSAGES_RECORD]="getErrorMessageRecord('password')"
  ></app-input-field>
  <app-input-field
  [control]="confirmPasswordControl"
  label="Confirm Password"
  inputId="confirm_password"
  placeholder="•••••••••"
  inpType="password"
  [ERROR_MESSAGES_RECORD]="getErrorMessageRecord('confirmPassword')"
></app-input-field>
  <div class="flex mb-4">
    <p class="text-sm font-medium text-gray-900 dark:text-gray-300 mr-2">
      Already have an account?
    </p>
    <a routerLink="/auth/login" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">Login</a>.
  </div>
  <app-button
  type="submit"
  [disabled]="!signupForm.valid"
  >
    Sign Up
  </app-button>
</form>
