<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <h2 class="text-2xl font-semibold mb-6 text-gray-900 dark:text-white">Create a New Post</h2>
  <form class="space-y-6" #newPostForm="ngForm" (ngSubmit)="onSubmit(newPostForm)">
    <app-form-field
      minlength="5"
      placeholder="What's on your mind?"
      ngModel
      required
      #title="ngModel"
      label="Title"
      name="title"
      [error]="title.errors!==null && title.dirty===true && title.touched!"
    ></app-form-field>
    <app-text-area-field
      minlength="5"
      ngModel
      required
      placeholder="Share more details..."
      name="content"
      #content="ngModel"
      label="Content"
      [error]="content.errors!==null && content.dirty===true && content.touched!"
    ></app-text-area-field>
    @if (!urlIsEnabled){
      <app-button
        (click)="toggleUrl()"
        type="button"
      >
        Add a URL
      </app-button>
    } @else {
      <app-form-field
        placeholder ="https://example.com"
        name="url"
        inpType="url"
        ngModel
        label="URL (Optional)"
      ></app-form-field>
    }

    <div>
      <app-button
      >
        Create Post
      </app-button>

    </div>
  </form>
</div>
